nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100vw;
    padding: .5em;
    z-index: 4;
}

@media screen and (min-width: 850px) {
    nav {
        top: -5%;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .speaker-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10em;
}

nav .speaker-wrap i {
    width: 20%;
}


nav ul i {
    cursor: pointer;
}

nav ul a {
    text-decoration: none;
}

nav ul a img {
    width: 3em;
    height: 3em;
    margin: 0 !important;
}


nav ul p {
    margin: 0 !important;
}

nav ul button {
    font-family: Encanto !important;
    font-size: 1.6em;
    text-transform: uppercase;
    padding: 0 .5em;
    border-radius: 5px;
    background-color: #1e70bf;
    color: #fff;
}

.logo-wrap {
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrap h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7em !important;
    margin: 0 !important;
}

.logo-wrap img {
    width: 12em !important;
    height: 12em;
    margin: 0 !important;

}

@media screen and (max-width: 850px) {
    nav {
        width: 100% !important;
        flex-direction: column;
    }

    nav ul {
        min-width: 100%;
        justify-content: center;
        position: relative;

    }

    nav ul li:nth-child(1) {
        display: inline-block;
        margin-right: 1em;
    }

    .hide-mobile {
        display: none;
    }

    nav .speaker-wrap {
        width: 90%;
        justify-content: space-between;
    }

    nav .speaker-wrap i {
        width: 15%;
    }

    nav .logo-wrap img {
        width: 7em;
        height: 10em;
    }

}