.nav {
    position: absolute;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-family: Impact, Encanto !important;
    padding: 2em 1em !important;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    width: 40%;
}

.nav ul li {
    font-size: 1.2em;
}

.nav ul a {
    font-size: 1em;
    margin: 0 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none !important;
}

.nav ul a:hover {
    color: #fff;
}

a {
    text-decoration: none !important;
}


.nav ul.links2 a {
    background-color: #dc4f2f;
    border-radius: 50%;
    width: 2.2em !important;
    height: 2.2em !important;
    margin: .5em .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 2px solid #000;
}

.nav ul.links2 a img {
    width: 1.2em;
    height: 1.2em;
}

.nav .speaker-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60% !important;
}

.nav ul p {
    margin: 0 !important;
}


@media screen and (max-width: 850px) {
    .nav {
        width: 100vw !important;
        justify-content: space-between !important;
        align-items: center !important;
        overflow-x: hidden;
        padding: 0.4em !important;
    }

    .nav .speaker-wrap {
        width: 30% !important;
    }

    .nav .speaker-wrap i {
        font-size: 1em !important;
    }


}