nav {
    position: absolute;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    left: 0;
    width: 100vw;
    padding: 1em 0;
    z-index: 4;
    font-family: Impact, Encanto !important;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end !important;
}

nav ul li {
    font-size: 1.2em;
}

nav ul a {
    font-size: 1em;
    margin: 0 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

footer ul.links {
    margin-top: -.7em !important;
}


ul.links i {
    color: rgb(255, 255, 255) !important;
    background-color: #dc4f2f;
    border-radius: 50%;
    font-size: 1.5em !important;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    padding: 6px;
}

ul.links img {
    background-color: #dc4f2f;
    border-radius: 50%;
    width: 2.6em !important;
    height: 2.6em !important;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    padding: 6px;
}

nav .speaker-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 3em;
}


nav ul p {
    margin: 0 !important;
}


@media screen and (max-width: 1023px) {
    nav {
        width: 100vw !important;
        flex-direction: column-reverse;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        box-shadow: unset !important;
        overflow-x: hidden;
        padding-bottom: 2em;
    }

    nav ul {
        width: 100vw;
        position: relative;
        margin: 0 !important;
    }

    nav ul:nth-child(2) {
        display: none;
    }

    nav ul li {
        font-size: 1.1em;
    }

    nav ul a {
        margin: 0 .5em;
    }

    nav .speaker-wrap {
        position: relative !important;
        margin: 0 !important;
        left: 4em;
        top: 1em;
    }


}